*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{

}

// code start
.container{
    margin: 100px auto;
    max-width: 300px;
    border: 1px solid #d6d6d6;
    padding: 10px;
    border-radius: 5px;
}

.container {
    h1{
        color:red;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    input[type="text"]
    {
        padding: 5px 10px;
        outline: none;
    }
    button{
        padding: 5px 10px;
        text-transform: uppercase;
    }
    ul{
        list-style-type: decimal-leading-zero;
        margin: 15px 0px;
        padding-left: 40px;
        li{
            padding: 10px 0px;
        }
    }
}
